<a href="https://colab.research.google.com/github/Sitimunirotuss/Sitimunirotuss/blob/main/p8_Sitimunirotus_2C1240043.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [3]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [5]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [7]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
print(list_numbers[0])

100

**MENDEKLARASIKAN ARRAY**

In [8]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [12]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda

In [11]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [19]:
#membuat array dengan angka
arr = [3, 5, 7, 8, 9, 1]


# perhitungan
#1. Nilai Maksimum
nilai_maksimum = max (arr)
print(nilai_maksimum)

#2. Nilai_minimum
nilai_minimum = min(arr)
print(nilai_minimum)

#3. hasil penjumlahan seluruh elemen
jumlah_elemen = sum (arr)
print(jumlah_elemen)

#4. jumlah_seluruh_elemen
jumlah_elemen = len(arr)
print(jumlah_elemen)

#5 rata_rata seluruh elemen
rata_rata = sum(arr) / len(arr)
print(rata_rata)

9
1
33
6
5.5